@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Red+Hat+Display:wght@500;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.top-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 54px;
}

.group1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 14.4px;
  column-gap: 16.16px;
}

.group2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 14.4px;
  column-gap: 16.16px;
}

.icon1 {
  transform: translateY(50%);
}

h1 {
  margin-top: 48px;
  color: #28283d;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px; /* 110% */
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-description {
  margin: 24px 24px 0;
  color: #87879d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

.download {
  margin-top: 32px;
  width: 193px;
  height: 58px;
  flex-shrink: 0;
  border: none;
  border-radius: 29px;
  background: #4d96a9;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
}

.description span {
  color: #8fe3f9;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
}

.description .about {
  margin-top: 16px;
  width: 139px;
  height: 58px;
  flex-shrink: 0;
  border: none;
  border-radius: 29px;
  background: #855fb1;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
}

.number {
  margin-top: 64px;
  display: flex;
  height: 140px;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 1px;
  height: 84px;
  background-color: #87879d;
  opacity: 0.25;
}

.circle {
  width: 56px;
  height: 56px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  background: #fafafa;
  border-radius: 50%;
  text-align: center;
  color: #87879d;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-container {
  margin-top: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 26px;
}

.mid-container img {
  border-radius: 7px;
}

.bottom-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-container h3 {
  color: #4d96a9;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  letter-spacing: 4px;
  text-transform: uppercase;
}

.bottom-container h2 {
  margin-top: 24px;
  width: 327px;
  color: #28283d;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
}

.bottom-container p {
  margin-top: 32px;
  width: 327px;
  color: #87879d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

.below {
  margin-top: 64px;
  transform: translateY(+20%);
  opacity: 0.25;
  z-index: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url(./assets/mobile/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

footer::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #4d96a9;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

footer h2 {
  margin-top: 92px;
  color: #fafafa;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
  z-index: 1;
}

footer p {
  margin-top: 24px;
  width: 327px;
  color: #fafafa;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  z-index: 1;
}

footer .download {
  margin-top: 32px;
  margin-bottom: 70px;
  border-radius: 29px;
  background: #855fb1;
  z-index: 1;
}
